In [1]:
import pandas as pd

In [2]:
PATH_WIKI = '/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/'
data_time = '20180920'

In [3]:
df_uk_redirections = pd.read_csv(PATH_WIKI+"ukwiki-" + data_time + "-redirections.csv", 
                            encoding='UTF-8', quotechar="\"", sep ="^")
df_uk_redirections.columns = ['title']
df_uk_redirections.head()

                  title
0             Esperanto
1             Wikipedia
2              HomePage
3     Капустянко Микола
4  Володимир Винниченко

In [4]:
print(df_uk_redirections.shape)

(723894, 1)

In [5]:
df_uk_id_name = pd.read_csv(PATH_WIKI+"ukwiki-" + data_time + "-id_name.csv", 
                         encoding='UTF-8', quotechar="\"", sep ="^")

In [6]:
df_uk_name = df_uk_id_name[['title']]
df_uk_name.head()

              title
0  Головна сторінка
1         Географія
2              Атом
3           Мільярд
4              Ядро

In [7]:
frames = [df_uk_redirections, df_uk_name]
df_uk_name_all = pd.concat(frames)

In [8]:
df_uk_name_all['title'] = df_uk_name_all['title'].str.strip()

In [9]:
df_uk_name_all.head()

                  title
0             Esperanto
1             Wikipedia
2              HomePage
3     Капустянко Микола
4  Володимир Винниченко

In [10]:
df_uk_name_all_strip = df_uk_name_all.iloc[:,0]

In [11]:
df_uk_name_all_strip = df_uk_name_all_strip.str.replace('  ', ' ')

In [12]:
df_uk_name_all_stripped = df_uk_name_all_strip.to_frame()

In [13]:
df_uk_name_all_stripped.head()

                  title
0             Esperanto
1             Wikipedia
2              HomePage
3     Капустянко Микола
4  Володимир Винниченко

In [14]:
df_uk_name_all_stripped = df_uk_name_all_stripped.drop_duplicates()

In [15]:
df_uk_name_all.shape

(1543106, 1)

In [16]:
df_uk_name_all['title_lc'] = df_uk_name_all['title'].str.lower()

In [17]:
df_uk_name_all.head()

                  title              title_lc
0             Esperanto             esperanto
1             Wikipedia             wikipedia
2              HomePage              homepage
3     Капустянко Микола     капустянко микола
4  Володимир Винниченко  володимир винниченко

In [18]:
fn = PATH_WIKI+"ukwiki-" + data_time + "-pages-meta-current.xml_art.csv"
print(fn)
df_articles = pd.read_csv(fn, encoding='UTF-8', quotechar="\"")
df_articles['link_val'] = df_articles['link_val'].str.split("#").str[0] # ???
df_articles = df_articles[df_articles['link_val'].str.strip() != '']

/media/andrii/earth/Katia/CS_MasterThesis/data/ukwiki/ukwiki-20180920-pages-meta-current.xml_art.csv

In [19]:
df_articles.head()

   id             title  text_len  link_pos            link_val link_txt
0   3  Головна сторінка      3197         0                 NaN      NaN
1  13         Географія     16843      1228  Об'єкт (філософія)   Об'єкт
2  13         Географія     16843      1533           Ератосфен      NaN
3  13         Географія     16843      1599             географ      NaN
4  13         Географія     16843      1611    Клавдій Птолемей      NaN

In [20]:
df_articles['title'] = df_articles['title'].str.strip()
df_articles['link_val'] = df_articles['link_val'].str.strip()

In [21]:
df_uk_titles_series = df_articles.iloc[:,4]

In [22]:
df_uk_titles_series_stripped = df_uk_titles_series.str.replace('  ', ' ')

In [23]:
df_titles_stripped = df_uk_titles_series_stripped.to_frame()

In [24]:
df_titles_stripped.head()

             link_val
0                 NaN
1  Об'єкт (філософія)
2           Ератосфен
3             географ
4    Клавдій Птолемей

In [25]:
df_titles_stripped['link_val'] = df_titles_stripped['link_val'].str.lower()

In [26]:
print(len(df_titles_stripped))
print(len(df_articles))

22650865
22650865

# Create files with page links

In [27]:
df_articles_with_lc = pd.concat([df_articles, df_titles_stripped], axis=1)

In [28]:
df_articles_with_lc.head()

,id,title,text_len,link_pos,link_val,link_txt,link_val
0,3,Головна сторінка,3197,0,NaN,NaN,NaN
1,13,Географія,16843,1228,Об'єкт (філософія),Об'єкт,об'єкт (філософія)
2,13,Географія,16843,1533,Ератосфен,NaN,ератосфен
3,13,Географія,16843,1599,географ,NaN,географ
4,13,Географія,16843,1611,Клавдій Птолемей,NaN,клавдій птолемей

In [29]:
df_uk_id_name = pd.read_csv(PATH_WIKI+"ukwiki-" + data_time + "-id_name.csv", 
                         encoding='UTF-8', quotechar="\"", sep ="^")

In [30]:
df_uk_id_name = df_uk_id_name[['id', 'title']]

In [31]:
df_uk_id_name.head()

    id             title
0    3  Головна сторінка
1   13         Географія
2  584              Атом
3  585           Мільярд
4  586              Ядро

In [48]:
redirections = PATH_WIKI+'ukwiki-' + data_time + '-pages-meta-current.xml_red.csv'

In [49]:
df_uk_redirections = pd.read_csv(redirections, encoding='UTF-8', quotechar="\"")

In [50]:
df_uk_redirections = df_uk_redirections1[['id', 'title']]

In [51]:
df_uk_redirections.head()

    id                 title
0    2             Esperanto
1    6             Wikipedia
2    9              HomePage
3  647     Капустянко Микола
4  693  Володимир Винниченко

In [52]:
df_uk_id_name.head()

    id             title
0    3  Головна сторінка
1   13         Географія
2  584              Атом
3  585           Мільярд
4  586              Ядро

In [53]:
df_uk_redirections.head()

    id                 title
0    2             Esperanto
1    6             Wikipedia
2    9              HomePage
3  647     Капустянко Микола
4  693  Володимир Винниченко

In [54]:
df_all_ids_uk = pd.concat([df_uk_id_name, df_uk_redirections], axis=0)

In [55]:
df_all_ids_uk.head()

    id             title
0    3  Головна сторінка
1   13         Географія
2  584              Атом
3  585           Мільярд
4  586              Ядро

In [56]:
df_all_ids_uk.shape

(1272760, 2)

In [57]:
df_all_ids_uk['title'] = df_all_ids_uk['title'].str.strip()

df_all_ids_uk_series = df_all_ids_uk.iloc[:,1]

df_all_ids_uk_series_stripped = df_all_ids_uk_series.str.replace('  ', ' ')
df_all_ids_uk_stripped = df_all_ids_uk_series_stripped.to_frame()

df_all_ids_uk_stripped['title'] = df_all_ids_uk_stripped['title'].str.lower()

In [58]:
df_all_ids_uk_stripped.shape

(1272760, 1)

In [59]:
df_all_ids_uk_cleaned = pd.concat([df_all_ids_uk, df_all_ids_uk_stripped], axis=1)

In [60]:
df_all_ids_uk_cleaned.columns = ['id', 'title', 'title_lc']

In [61]:
df_all_ids_uk_cleaned.head()

    id             title          title_lc
0    3  Головна сторінка  головна сторінка
1   13         Географія         географія
2  584              Атом              атом
3  585           Мільярд           мільярд
4  586              Ядро              ядро

In [62]:
df_articles_with_lc.columns = ['id', 'title', 'text_len', 'link_pos', 'link_val', 'link_txt', 'link_val_lc']

In [63]:
df_articles_with_lc.head()

,id,title,text_len,link_pos,link_val,link_txt,link_val_lc
0,3,Головна сторінка,3197,0,NaN,NaN,NaN
1,13,Географія,16843,1228,Об'єкт (філософія),Об'єкт,об'єкт (філософія)
2,13,Географія,16843,1533,Ератосфен,NaN,ератосфен
3,13,Географія,16843,1599,географ,NaN,географ
4,13,Географія,16843,1611,Клавдій Птолемей,NaN,клавдій птолемей

In [64]:
page_links_dirty = pd.merge(df_articles_with_lc, df_all_ids_uk_cleaned, how='left', left_on=['link_val_lc'], right_on=['title_lc'])

In [65]:
page_links_dirty = page_links_dirty[pd.notnull(page_links_dirty['link_val'])]

In [66]:
page_links_dirty.head()

,id_x,title_x,text_len,link_pos,link_val,link_txt,link_val_lc,id_y,title_y,title_lc
3,13,Географія,16843,1228,Об'єкт (філософія),Об'єкт,об'єкт (філософія),884280.0,Об'єкт (філософія),об'єкт (філософія)
4,13,Географія,16843,1533,Ератосфен,NaN,ератосфен,21623.0,Ератосфен,ератосфен
5,13,Географія,16843,1599,географ,NaN,географ,274944.0,Географ,географ
6,13,Географія,16843,1611,Клавдій Птолемей,NaN,клавдій птолемей,26194.0,Клавдій Птолемей,клавдій птолемей
7,13,Географія,16843,1722,Відродження,NaN,відродження,20459.0,Відродження,відродження

In [67]:
page_links_with_titles = page_links_dirty[['id_x', 'title_x', 'id_y', 'link_val', 'title_lc']]

In [68]:
page_links_with_titles.head()

   id_x    title_x      id_y            link_val            title_lc
3    13  Географія  884280.0  Об'єкт (філософія)  об'єкт (філософія)
4    13  Географія   21623.0           Ератосфен           ератосфен
5    13  Географія  274944.0             географ             географ
6    13  Географія   26194.0    Клавдій Птолемей    клавдій птолемей
7    13  Географія   20459.0         Відродження         відродження

In [69]:
page_links_with_titles.to_csv(PATH_WIKI+'page_links_with_titles.csv', index = False, encoding='UTF-8', sep='^')

In [70]:
page_links_ids = page_links_with_titles[['id_x', 'id_y']]
page_links_ids.columns = ['id', 'link_id']

In [71]:
page_links_ids.to_csv(PATH_WIKI+'uk_page_links_ids.csv', index = False, encoding='UTF-8', sep='^')

In [72]:
# find red links among all links
links_which_exist = pd.merge(df_uk_name_all, df_titles_stripped,
                             how='right', left_on=['title_lc'], right_on=['link_val'])

In [73]:
links_which_exist = links_which_exist.drop_duplicates()

In [74]:
links_which_exist = links_which_exist.dropna(how='all')

In [75]:
links_which_exist

,title,title_lc,link_val
0,Esperanto,esperanto,esperanto
2,Wikipedia,wikipedia,wikipedia
31,Володимир Винниченко,володимир винниченко,володимир винниченко
155,Белза Ігор,белза ігор,белза ігор
157,Інформаційна технологія,інформаційна технологія,інформаційна технологія
162,Історик,історик,історик
2772,Міфологія давньої Греції,міфологія давньої греції,міфологія давньої греції
2776,Леонід Глібов,леонід глібов,леонід глібов
2806,США,сша,сша
56900,WWW,www,www
56901,Www,www,www
56958,Економіка (наука),економіка (наука),економіка (наука)
56994,МОП,моп,моп
57009,ЕОМ,еом,еом
57235,Педагог,педагог,педагог
60508,Список історичних дат,список історичних дат,список історичних дат
60510,Ймовірність події,ймовірність події,ймовірність події
60513,Перестановки множини,перестановки множини,перестановки множини
60515,Математичні константи,математичні константи,математичні константи
60518,Євген Гребінка,євген гребінка,євген гребінка
60549,Іван Котляревський,іван котляревський,іван котляревський
60660,Кочерга Іван,кочерга іван,кочерга іван
60665,Пантелеймон Куліш,пантелеймон куліш,пантелеймон куліш
60803,Семенко Михайль,семенко михайль,семенко михайль
60807,Список історико-культурних заповідників України,список історико-культурних заповідників україни,список історико-культурних заповідників україни
60811,Європейський валютний союз,європейський валютний союз,європейський валютний союз
60813,ЄС,єс,єс
62071,ЄБРР,єбрр,єбрр
62107,Спілка письменників України,спілка письменників україни,спілка письменників україни
62108,Спілка Письменників України,спілка письменників україни,спілка письменників україни
...,...,...,...
34638406,NaN,NaN,lubiąż
34638407,NaN,NaN,pałac w żerkowie
34638408,NaN,NaN,каменний кар'єр
34638409,NaN,NaN,степне (глибоківський район)
34638410,NaN,NaN,хосе мозіню-да-сілвейра
34638411,NaN,NaN,генеральна рада (португалія)
34638412,NaN,NaN,фінал кубка австрії з футболу 1936
34638413,NaN,NaN,mirków (województwo dolnośląskie)
34638415,NaN,NaN,pasikurowice (przystanek kolejowy)
34638416,NaN,NaN,веселе (глибоківський район)
34638417,NaN,NaN,винне
34638418,NaN,NaN,горна ульбінка
34638419,NaN,NaN,нова ульба
34638420,NaN,NaN,топіха
34638421,NaN,NaN,ульба перевалочна
34638422,NaN,NaN,siedlec trzebnicki
34638423,NaN,NaN,spichlerz
34638424,NaN,NaN,калініно (глибоківський район)
34638425,NaN,NaN,електронна промисловість україни
34638426,NaN,NaN,pałac w świątnikach
34638427,NaN,NaN,білоусовка (глибоківський район)
34638429,NaN,NaN,білокаменка (глибоківський район)
34638430,NaN,NaN,новомихайловка (глибоківський район)
34638431,NaN,NaN,планідовка
34638432,NaN,NaN,pałac w krobielowicach
34638433,NaN,NaN,ochotnicza straż pożarna
34638434,NaN,NaN,kąty wrocławskie
34638435,NaN,NaN,bystrzyca (dopływ odry)
34638437,NaN,NaN,pałac w sadowicach
34638438,NaN,NaN,lundin petroleum ab

In [76]:
candidates_for_redlinks = links_which_exist[links_which_exist['title'].isnull()]

In [77]:
candidates_for_redlinks = candidates_for_redlinks[['link_val']]

In [78]:
candidates_for_redlinks.shape

(1532585, 1)

In [79]:
candidates_for_redlinks.head()

                                             link_val
31766167                           географія розвитку
31766168                               географія часу
31766171                         туристична географія
31766172       рентгенівська спектроскопія поглинання
31766173  рентгенівська фото електронна спектроскопія

In [81]:
df_articles.head()

   id             title  text_len  link_pos            link_val link_txt
0   3  Головна сторінка      3197         0                 NaN      NaN
1  13         Географія     16843      1228  Об'єкт (філософія)   Об'єкт
2  13         Географія     16843      1533           Ератосфен      NaN
3  13         Географія     16843      1599             географ      NaN
4  13         Географія     16843      1611    Клавдій Птолемей      NaN

In [82]:
df_uk_titles_series = df_articles.iloc[:,4]

In [83]:
df_uk_titles_series_stripped = df_uk_titles_series.str.replace('  ', ' ')

In [84]:
df_titles_stripped = df_uk_titles_series_stripped.to_frame()

In [85]:
df_titles_stripped['link_val_lc'] = df_titles_stripped['link_val'].str.lower()

In [86]:
df_pagelinks_with_lowercase = pd.concat([df_articles, df_titles_stripped], axis=1)

In [87]:
df_pagelinks_with_lowercase_redlinks = pd.merge(df_pagelinks_with_lowercase, candidates_for_redlinks,
         how='left', left_on=['link_val_lc'], right_on=['link_val'])

In [88]:
df_pagelinks_with_lowercase_redlinks

,id,title,text_len,link_pos,link_val_x,link_txt,link_val_x,link_val_lc,link_val_y
0,3,Головна сторінка,3197,0,NaN,NaN,NaN,NaN,NaN
1,13,Географія,16843,1228,Об'єкт (філософія),Об'єкт,Об'єкт (філософія),об'єкт (філософія),NaN
2,13,Географія,16843,1533,Ератосфен,NaN,Ератосфен,ератосфен,NaN
3,13,Географія,16843,1599,географ,NaN,географ,географ,NaN
4,13,Географія,16843,1611,Клавдій Птолемей,NaN,Клавдій Птолемей,клавдій птолемей,NaN
5,13,Географія,16843,1722,Відродження,NaN,Відродження,відродження,NaN
6,13,Географія,16843,1797,еллінізм,NaN,еллінізм,еллінізм,NaN
7,13,Географія,16843,1883,Герард Меркатор,Герарда Меркатора,Герард Меркатор,герард меркатор,NaN
8,13,Географія,16843,1996,Александер фон Гумбольдт,Олександр Гумбольдт,Александер фон Гумбольдт,александер фон гумбольдт,NaN
9,13,Географія,16843,2047,Карл Ріттер,NaN,Карл Ріттер,карл ріттер,NaN
10,13,Географія,16843,4559,історичний метод,NaN,історичний метод,історичний метод,NaN
11,13,Географія,16843,5907,Науки про Землю,NaN,Науки про Землю,науки про землю,NaN
12,13,Географія,16843,5969,картографія,картографію,картографія,картографія,NaN
13,13,Географія,16843,6366,Біогеографія,NaN,Біогеографія,біогеографія,NaN
14,13,Географія,16843,6386,Кліматологія,NaN,Кліматологія,кліматологія,NaN
15,13,Географія,16843,6406,Метеорологія,NaN,Метеорологія,метеорологія,NaN
16,13,Географія,16843,6426,Берегознавство,NaN,Берегознавство,берегознавство,NaN
17,13,Географія,16843,6448,Екологічний менеджмент,NaN,Екологічний менеджмент,екологічний менеджмент,NaN
18,13,Географія,16843,6657,Геодезія,NaN,Геодезія,геодезія,NaN
19,13,Географія,16843,6673,Геоморфологія,NaN,Геоморфологія,геоморфологія,NaN
20,13,Географія,16843,6694,Гляціологія,NaN,Гляціологія,гляціологія,NaN
21,13,Географія,16843,6713,Гідрологія,NaN,Гідрологія,гідрологія,NaN
22,13,Географія,16843,6731,Гідрографія,NaN,Гідрографія,гідрографія,NaN
23,13,Географія,16843,6899,Ландшафтна екологія,NaN,Ландшафтна екологія,ландшафтна екологія,NaN
24,13,Географія,16843,6926,Океанографія,NaN,Океанографія,океанографія,NaN
25,13,Географія,16843,6946,Ґрунтознавство,NaN,Ґрунтознавство,ґрунтознавство,NaN
26,13,Географія,16843,6968,Палеогеографія,NaN,Палеогеографія,палеогеографія,NaN
27,13,Географія,16843,7042,Четвертинна геологія,NaN,Четвертинна геологія,четвертинна геологія,NaN
28,13,Географія,16843,7187,літосфера,літосферу,літосфера,літосфера,NaN
29,13,Географія,16843,7212,гідросфера,гідросферу,гідросфера,гідросфера,NaN
...,...,...,...,...,...,...,...,...,...
22650835,2817985,Яшовіце (Нижньосілезьке воєводство),2842,1046,SIMC,NaN,SIMC,simc,NaN
22650836,2817985,Яшовіце (Нижньосілезьке воєводство),2842,1186,Гміна Кобежице,гміні Кобежице,Гміна Кобежице,гміна кобежице,NaN
22650837,2817985,Яшовіце (Нижньосілезьке воєводство),2842,1220,Вроцлавський повіт,Вроцлавського повіту,Вроцлавський повіт,вроцлавський повіт,NaN
22650838,2817985,Яшовіце (Нижньосілезьке воєводство),2842,1264,Нижньосілезьке воєводство,Нижньосілезького воєводства,Нижньосілезьке воєводство,нижньосілезьке воєводство,NaN
22650839,2817985,Яшовіце (Нижньосілезьке воєводство),2842,1409,Адміністративний поділ Польщі в 1975-1998,У 1975-1998 роках,Адміністративний поділ Польщі в 1975-1998,адміністративний поділ польщі в 1975-1998,NaN
22650840,2817985,Яшовіце (Нижньосілезьке воєводство),2842,1490,Вроцлавське воєводство (1975–1998),Вроцлавського воєводства,Вроцлавське воєводство (1975–1998),вроцлавське воєводство (1975–1998),NaN
22650841,2817985,Яшовіце (Нижньосілезьке воєводство),2842,2235,Центральний статистичний офіс Польщі,GUS,Центральний статистичний офіс Польщі,центральний статистичний офіс польщі,NaN
22650842,2817985,Яшовіце (Нижньосілезьке воєводство),2842,2691,Центральний статистичний офіс Польщі,GUS,Центральний статистичний офіс Польщі,центральний статистичний офіс польщі,NaN
22650843,2817988,Хшанув (Нижньосілезьке воєводство),2833,27,Польща,NaN,Польща,польща,NaN
22650844,2817988,Хшанув (Нижньосілезьке воєводство),2833,382,Вроцлавський повіт,NaN,Вроцлавський повіт,вроцлавський повіт,NaN
22650845,2817988,Хшанув (Нижньосілезьке воєводство),2833,901,літній час,NaN,літній час,літній час,NaN
22650846,2817988,Хшанув (Нижньосілезьке воєводство),2833,1038,SIMC,NaN,SIMC,simc,NaN
22650847,2817988,Хшанув (Нижньосілезьке воєводство),2833,1176,Гміна Кобежице,гміні Кобежице,Гміна Кобежице,гміна кобежице,NaN
22650848,2817988,Хшанув (Нижньосілезьке воєводство),2833,1210,Вроцлавський повіт,Вроцлавського повіту,Вроцлавський повіт,вроцлавський повіт,NaN
22650849,2817988,Хшанув (Нижньосілезьке воєводство),2833,1254,Нижньосілезьке воєводство,Нижньосілезького воєводства,Нижньосілезьке воєводство,нижньосілезьке воєводство,NaN
22650850,2817988,Хшанув (Нижньосілезьке воєводство),2833,1399,Адміністративний поділ Польщі в 1975-1998,У 1975-1998 роках,Адміністративний поділ Польщі в 1975-1998,адміністративний поділ польщі в 1975-1998,NaN
22650851,2817988,Хшанув (Нижньосілезьке воєводство),2833,1480,Вроцлавське воєводство (1975–1998),Вроцлавського воєводства,Вроцлавське воєводство (1975–1998),вроцлавське воєводство (1975–1998),NaN
22650852,2817988,Хшанув (Нижньосілезьке воєводство),2833,2226,Центральний статистичний офіс Польщі,GUS,Центральний статистичний офіс Польщі,центральний статистичний офіс польщі,NaN
22650853,2817988,Хшанув (Нижньосілезьке воєводство),2833,2682,Центральний статистичний офіс Польщі,GUS,Центральний статистичний офіс Польщі,центральний статистичний офіс польщі,NaN
22650854,2817992,Беляни-Вроцлавські,3017,27,Польща,NaN,Польща,польща,NaN
22650855,2817992,Беляни-Вроцлавські,3017,452,Вроцлавський повіт,NaN,Вроцлавський повіт,вроцлавський повіт,NaN
22650856,2817992,Беляни-Вроцлавські,3017,972,літній час,NaN,літній час,літній час,NaN
22650857,2817992,Беляни-Вроцлавські,3017,1109,SIMC,NaN,SIMC,simc,NaN
22650858,2817992,Беляни-Вроцлавські,3017,1292,Гміна Кобежице,гміні Кобежице,Гміна Кобежице,гміна кобежице,NaN
22650859,2817992,Беляни-Вроцлавські,3017,1326,Вроцлавський повіт,Вроцлавського повіту,Вроцлавський повіт,вроцлавський повіт,NaN
22650860,2817992,Беляни-Вроцлавські,3017,1370,Нижньосілезьке воєводство,Нижньосілезького воєводства,Нижньосілезьке воєводство,нижньосілезьке воєводство,NaN
22650861,2817992,Беляни-Вроцлавські,3017,1517,Адміністративний поділ Польщі в 1975-1998,У 1975-1998 роках,Адміністративний поділ Польщі в 1975-1998,адміністративний поділ польщі в 1975-1998,NaN
22650862,2817992,Беляни-Вроцлавські,3017,1598,Вроцлавське воєводство (1975–1998),Вроцлавського воєводства,Вроцлавське воєводство (1975–1998),вроцлавське воєводство (1975–1998),NaN
22650863,2817992,Беляни-Вроцлавські,3017,2410,Центральний статистичний офіс Польщі,GUS,Центральний статистичний офіс Польщі,центральний статистичний офіс польщі,NaN
22650864,2817992,Беляни-Вроцлавські,3017,2866,Центральний статистичний офіс Польщі,GUS,Центральний статистичний офіс Польщі,центральний статистичний офіс польщі,NaN

In [89]:
redlinks_with_all = df_pagelinks_with_lowercase_redlinks[~(df_pagelinks_with_lowercase_redlinks['link_val_y'].isnull())]

In [90]:
redlinks = redlinks_with_all[['id', 'link_val_x']]
redlinks.columns = ['id', 'link_val', 'dd']

In [91]:
redlinks = redlinks[['id', 'link_val']]

In [92]:
redlinks.to_csv(PATH_WIKI+'ukwiki-20180920-all_reslinks.csv', index = False, encoding='UTF-8', quotechar="\"")

In [94]:
df_articles.to_csv(PATH_WIKI+'ukwiki-20180920-pages-links.csv', index = False, encoding='UTF-8', quotechar="\"")

In [ ]:
# results in files:
# 1. 'page_links_with_titles.csv',
# 2. 'uk_page_links_ids.csv',
# 3. 'ukwiki-20180920-all_reslinks.csv',
# 4. 'ukwiki-20180920-pages-links.csv.gz'